.bosh {
    background-color: blue;
    width: 500px;
    height: 200px;
    color: white;
    text-align: center;
    padding: 20px 20px 20px 20px;
    margin: 0 auto;
    border-radius: 10000px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    transition: all 0.4s ease;
    cursor: pointer;
    position: relative;
    border: solid 20px red;
    text-align: center;
 
}

.text {
font-size: 80px;
}